.addslotbutton{
    -fx-background-color : #6197E0;
    -fx-background-radius : 15;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}
.addslotbutton:hover {
    -fx-background-color: #639ce6;
    -fx-effect: dropshadow(gaussian, rgba(108,99,255,0.2), 10, 0, 0, 3);
}
.cursor{
    -fx-cursor: hand;
}