.sidebar{
    -fx-background-color : #1e1e1e;
    -fx-background-radius : 30 30 30 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 2);
}
.buttonsidebar{
    -fx-cursor: hand;
    -fx-background-radius: 50 50 50 50;
    -fx-background-color: #F2F0EF;
}
.buttonsidebar:hover {
    -fx-background-color: #f1f5ff;
    -fx-effect: dropshadow(gaussian, rgba(108,99,255,0.2), 10, 0, 0, 3);
}

.Name{
    -fx-border-color :BLACK;
    -fx-border-radius : 15;
    -fx-background-radius: 15;
    -fx-cursor: hand;
    -fx-background-color: #F2F0EF;
}
.Name:hover {
    -fx-border-radius : 15;
    -fx-background-color: #f1f5ff;
    -fx-effect: dropshadow(gaussian, rgba(108,99,255,0.2), 10, 0, 0, 3);
}

.dashboard{
    -fx-background-radius: 50;
    -fx-background-color: #F2F0EF;
}

.paincontain{
    -fx-background-color : #ffffff;
    -fx-background-radius : 30;
}
.cardblue{
    -fx-background-radius: 10;
    -fx-background-color: #e5f1fd;

}.cardblue:hover {
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.cardpurple{
    -fx-background-radius: 10;
    -fx-background-color: #d4b0ed;
}.cardpurple:hover {
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;

}
.cardgreen{
    -fx-background-radius: 10;
    -fx-background-color: #d6edd9;
}.cardgreen:hover {
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.cardyellow{
    -fx-background-radius: 10;
    -fx-background-color: #f6f0d8;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}
.cardyellow:hover {
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}


.card {
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

/* === HOVER EFFECT === */
.card:hover {
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;

}
/*
   -fx-background-color: #e5f1fd;
   -fx-background-color: #dbeafe; */


