.sidebar{
    -fx-background-color : #1e1e1e;
    -fx-background-radius : 30 30 30 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 2);
}
.buttonsidebar{
    -fx-background-radius: 50 50 50 50;
    -fx-background-color: #F2F0EF;
}
.dashboard{
    -fx-background-radius: 50;
    -fx-background-color: #F2F0EF;
}
.buttonsidebar:hover {
    -fx-background-color: #f1f5ff;
    -fx-effect: dropshadow(gaussian, rgba(108,99,255,0.2), 10, 0, 0, 3);
}
.paincontain{
    -fx-background-color : #ffffff;
    -fx-background-radius : 30;
}
.cardblue{
    -fx-background-radius: 10;
    -fx-background-color: #e5f1fd;

}
.cardpurple{
    -fx-background-radius: 10;
    -fx-background-color: #e5def0;
}
.cardgreen{
    -fx-background-radius: 10;
    -fx-background-color: #d6edd9;

}
.cardyellow{
    -fx-background-radius: 10;
    -fx-background-color: #f6f0d8;
}
.card {
    -fx-background-radius: 15;
    -fx-background-color: #e5f1fd; /* soft blue, you can change for others */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 4);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

/* === HOVER EFFECT === */
.card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.5, 0, 6);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-background-color: #dbeafe; /* slightly brighter on hover */
}
/*new stuff for manages slots window*/
.searcharea{
    -fx-background-color : #C9C8C7;
    -fx-background-radius : 30;
}
.seacrhtext{
    -fx-background-color : #F2F0EF;
    -fx-background-radius : 30;
}
.addslotbutton{
    -fx-background-color : #6197E0;
    -fx-background-radius : 15;
    -fx-cursor: hand;
}
.addslotbutton:hover {
    -fx-background-color: #639ce6;
    -fx-effect: dropshadow(gaussian, rgba(108,99,255,0.2), 10, 0, 0, 3);
}
.scrollarea{
    -fx-background-color : transparent;
    -fx-background-radius: 50;

}

